* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: white;
}

html{
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar{
  width: 11px;
}

body{
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track{
  background-color: black;
}

body::-webkit-scrollbar-thumb{
  background-color: #95c11e;
  border-radius: 6px;
}

#nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 35px;
  position: fixed;
  justify-content: flex-start;
  padding: 0 107px;
  z-index: 11;
}

#nav img {
  width: 89px;
}

#nav h4 {
  font-size: 0.8rem;
}

/* Creating Cursor Animation */
#cursor {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #95c11e;
  border-radius: 100%;
  position: fixed;
  z-index: 1;
}

#cursor_blur::before {
  content: "";
  width: 27rem;
  height: 27rem;
  background-color: #96c11e2f;
  border-radius: 100%;
  position: absolute;
  top: -51px;
  right: -50px;
  filter: blur(2rem);
  z-index: 1;
}

#cursor_blur {
  width: 20rem;
  height: 20rem;
  background-color: #8c918148;
  border-radius: 100%;
  position: fixed;
  filter: blur(2rem);
  z-index: 1;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons a {
  border: 2px solid rgb(47, 255, 47);
  padding: 13px 30px;
  margin: 0 0 0 20px;
  border-radius: 40px;
  background-color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

/* Main Section */
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

/* for page 1 */
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

#page1 h1 {
  font-size: 5.5rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
  position: relative;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: rgb(0, 0, 0);
  top: -5px;
  left: -6px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}

#page1 h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

#page1 p {
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
}

/* Adding down arrow */

.circle_arrow{
  background-color: rgb(185, 0, 0);
  width: 100%;
  height: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 1px;
}

.circle_arrow .circle{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition:  width linear .4s, height linear .4s;
}

.circle_arrow img{
  height: 40px;
  position: relative;
}

.circle:hover{
  width: 50px;
  height: 50px;
  background-color: #95c11e;
}


#page2 {
  height: 100vh;
  width: 100%;
}

#horizontalscroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#horizontalscroller::-webkit-scrollbar{
    display: none;
}

.Scroller_element1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#horizontalscroller h4 {
  display: inline-block;
  white-space: nowrap;
  font-size: 6rem;
  font-weight: 900;
  margin-right: 2rem;
  -webkit-text-stroke: 2px #ffffff;
  color: black;
  transition: all linear .3s;
}

#horizontalscroller h4:hover{
    color: #95c11e;
    -webkit-text-stroke: transparent;
}

@keyframes scroll {
    
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* About Section */

#about_section{
  width: 100%;
  height: 60%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
}

#about_context{
  width: 60%;
  text-align: center;
}

#about_section #image_1 img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

#about_section #image_2 img{
  width: 150px;
  height: 200px;
  border-radius: 20px;
}

#about_context p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
}

#dot_design{
  width: 100%;
  position: absolute;
  bottom: 10rem;
}

#dot_design img{
  width: 150px;
  height: 200px;
  position: relative;
  bottom: -10rem;
  left: 6.4rem;
}

/* Cards Section */


